//META{"name":"CreateYourOwnThemeBackground","description":"Create_Your_Own_Theme-Background","author":"xNightWulf","version":"1.0"}*//{}

/* Background */

/* Find an image which is a suitable size for the background. Once you have the picture, upload it to imgur.com. Once it has procecced right click the image and click open in new tab. Go to that new tab and select the URL. 
It will look something simmilar to "https://i.imgur.com/kZn7d4b.jpg" Put that URL in the place of (YourURLHere) which is located on line "8". (Make sure to put it inside the brackets)*/
.app {
    background-image: url(https://i.imgur.com/kZn7d4b.gif) !Important; 
    background-size:cover !important;
}



/*DoNotTouchThisUnlessYouKnowWhatYouAreDoing*/

/*Transparency*/
#voice-connection, #friends, .friends-header, .friends-table, .guilds-wrapper, .guild-header header, .channels-wrap, .private-channels .search-bar, .private-channels,
 .guild-channels, .account, .friend-table-add-header, .chat, .content, .layers, .title-wrap:not(.search-bar), .messages-wrapper, .messages .divider span, .messages .divider:before, 
 .content, .message-group-blocked, .is-local-bot-message, .channel-members-loading, .channel-members-loading .heading, .channel-members-loading .member, .typing, .layer, .layers, 
 .container-RYiLUQ, .theme-dark .ui-standard-sidebar-view, .theme-dark .ui-standard-sidebar-view .sidebar-region, .theme-dark .ui-standard-sidebar-view .content-region, 
 .theme-dark .channel-members, .layer, .layers {
    background: transparent !important;
}