//META{"name":"CreateYourOwnThemeUserList","description":"Create_Your_Own_Theme-Userlist","author":"xNightWulf","version":"1.0"}*//{}

.container-2OU7Cz, .theme-dark .title-qAcLxz, .theme-dark .chat form, .channels-3g2vYe   {
    background-color: transparent !important;
}
/* Background */

.theme-dark .channel-members {
    background-color: rgba(0, 0, 0, 1);/* This changes the color of the background for the userlist */
}
.theme-dark .channel-members h2 {
    color: rgba(0, 0, 0, 1);/* This changes the color of the role titles on the userlist */
    background-color: rgba(0, 0, 0, 1);/* This changes the color of the background for role titles on the userlist */
    border-radius: 0px;/* Increase this to round the edges of the background */
}
.channel-members .member .member-activity {
    color: rgba(0, 0, 0, 1);/* This changes the color of the activity text on the userlist */
}
span.member-username-inner {
    color: white !important;/* This changes the color of the usernames on the userlist */
}


/*Transparency*/
#voice-connection, 
#friends, 
.friends-header, 
.friends-table, 
.guilds-wrapper, 
.guild-header header, 
.channels-wrap, 
.private-channels .search-bar, 
.private-channels, 
.guild-channels, 
.account, 
.friend-table-add-header,
.chat, 
.content, 
.title-wrap:not(.search-bar), 
.messages-wrapper, 
.messages .divider span, 
.messages .divider:before, 
.content, .message-group-blocked, 
.is-local-bot-message,
.channel-members-loading, 
.channel-members-loading .heading, 
.channel-members-loading .member, 
.typing, 
.container-RYiLUQ, 
.theme-dark .ui-standard-sidebar-view, 
.theme-dark .ui-standard-sidebar-view .sidebar-region,
.theme-dark .ui-standard-sidebar-view .content-region,
.theme-dark .channel-members,
.container-2OU7Cz,
.theme-dark .chat form, 
.channels-3g2vYe, 
.theme-dark .friends-table, 
.theme-dark .messages-wrapper, 
.content .flex-spacer, 
.theme-dark .chat>.content, 
.theme-dark .chat, 
.channel-members, 
.search .search-bar, 
.container-iksrDt, 
.container-3lnMWU, 
.theme-dark .title-qAcLxz, 
.theme-dark .layer-kosS71, 
.theme-dark .layers-20RVFW, 
.theme-dark .typing-3eiiL_,
.container-2OU7Cz {
  background: transparent !important;
}
