//META{"name":"CreateYourOwnThemeUserList","description":"Create_Your_Own_Theme-Userlist","author":"xNightWulf","version":"1.0"}*//{}

.container-2OU7Cz, .theme-dark .title-qAcLxz, .theme-dark .chat form, .channels-3g2vYe   {
    background-color: transparent !important;
}
/* Background */

.theme-dark .channel-members {
    background-color: rgba(0, 0, 0, 1);/* This changes the color of the background for the userlist */
}
.theme-dark .channel-members h2 {
    color: rgba(0, 0, 0, 1);/* This changes the color of the role titles on the userlist */
    background-color: rgba(0, 0, 0, 1);/* This changes the color of the background for role titles on the userlist */
    border-radius: 0px;/* Increase this to round the edges of the background */
}
.channel-members .member .member-activity {
    color: rgba(0, 0, 0, 1);/* This changes the color of the activity text on the userlist */
}
span.member-username-inner {
    color: white !important;/* This changes the color of the usernames on the userlist */
}
